{% extends "base.html" %}
{% block content %}
<p>Would you still like to continue?</p>
<a href="{{ url_for('run_search', to_search=search)}}">Yes</a><br>
<a href="{{ url_for('search_follower') }}">No</a><br>
{% endblock %}
