<html>
    <head>
	<title>Twitter Intersection</title>
    </head>
    <body>
	<div>Menu buttons: <a href="/">Main Page</a> | <a href="/twitterintersection/">Home</a>
		{% if session['screen_name'] %} | <a href='/twitterintersection/logout/'>Logout</a> {% endif %}
	</div>
	<hr>
	{% with flash_messages = get_flashed_messages() %}
   	{% if flash_messages %}
   	<p>
   	{% for message in flash_messages %}
		<span style="color:#DF0101">{{ message }}</span><br>
   	{% endfor %}
   	{% endif %}
   	{% endwith %}
   	</p>
	{% block content %}{% endblock %}
    </body>
</html>
