{% extends "base.html" %}
{% block content %}
<div>
   <h2>What do you want to do:</h2>
   <ul>
   <li><a href="/twitterintersection/intersect/">Find Intersection</a></li>
   <li><a href="/twitterintersection/find-followers/">Find Followers</a></li>
   <li><a href="/twitterintersection/check-status/">Check Progress</a></li>
   </ul>
</div
{% endblock %}
