{% extends "base.html" %}
{% block content %}

{% if amount %}
<h2>Select the files:</h2>
<form action="result" method="POST" name="select_files">
    {% for num in range(0, amount) %}
	<select name="files">
	    {% for file in files %}
		<option value={{file["file_name"]}}>{{file["file_name"]}}, last searched: {{file["last_searched"]}}</option>
	    {% endfor %}
        </select><br>
    {% endfor %}
    <p><input type="submit" value="Find Intersections"></p> 
</form>
{% endif %}
<p>How many files do you want to pick:</p>
<form action="" method="post" name="amount_choose">
    <p><input type="text" name="number"></p>
    <input type="submit" value="This many"></p>
</form>
{% endblock %}
