{% extends "base.html" %}
{% block content %}
<h3>{{message}}</h3>
{% if result_resp %}
<span style="color:#01DF01;font-size:20px">
{{result_resp}}
</span>
{% endif %}
<form action="" method="post" name="search">
    {{form.hidden_tag()}}
    {{form.search(size=100)}}<br>
    <input type="submit" value="Search">
</form>
{% endblock %}
